td {
    text-align: center;
    font-size: 20px;
}

#backGroundPicture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background-image: url('../Images/images.jpg');
}

